.evolutions-and-forms{
    display: flex;
    flex-direction: column;
}
.Name{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.evolutions{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.mini-card{
    display: flex;
    align-items: baseline;
}

.level-and-requirements{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}


.img-itens{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.forms{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}
.card-forms{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.forms-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}