.evolutions-and-forms{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
}
.Name{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.evolutions{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.mini-card{
    display: flex;
    align-items: baseline;
}

.level-and-requirements{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.img-itens{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.forms{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1.25rem;
    width: 100%;
}
.card-forms{
    display: flex;
    flex-direction: column;
    margin-left: 0.625rem;
    margin-top: 0.625rem;
}

.forms-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.evolution-container{
    display: flex;
    margin-top: 1.25rem;
    justify-content: center;
    flex-wrap: wrap;
}