main{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    
}
.container-pokemon ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.container-pokemon ul li{
    padding: 10px;
}


.Loading-content{
    position: fixed;
    display: flex;
    justify-content: center;
    top: 50px;
    width: 100vw;
    height: 100vh;

}

.animation-Loading{
    width: 200px;
}