@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
:root {
	--dark: #292C35;
	--light: #F1F1F1;
	--label: #111;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: 'Quicksand', sans-serif;
}

#root{
    width: 100vw;
    height: 100vh;
    color: black;
}
