.info{
    position: relative;
    width: 80%;
    display: flex;
}

.weight-and-height{
    width: 100%;

}

.weight-and-height div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}


